---
layout: base.njk
title: About
---

block content

    .page-section
        p Elements Web Development works to provide quality web design and development services for professionals, agencies, businesses, and marketing teams. Past projects include e-commerce, brochure, portfolio, interactive, and event-driven websites from turnkey to bespoke. We have years of experience working with WordPress and have the skills to work on other platforms. We treat every project with care and hold true to our goal of creating engaging, fast, and accessible websites that serve our clients goals.

        h2 Founder

        p Raymond Johnson holds a B.S. in Electrical and Computer Engineering from the University of Texas at Austin. He is a student of traditional Mande music and African histories and culture. With balance of technical and creative skills ranging from front-end web development to user–experience design, Raymond brings a versatile skill set to web projects.

        p Outside his role as a web developer, Raymond is an active musician who has recorded several albums including Suelta, Darkness Falls, and Moment of Resolution. Musical awards include Texas Folklife Apprenticeship Program with Guinean-born master percussionist Abou Sylla and induction as a 2019 Black Fret Artist with Superfónicos. Raymond has toured internationally in Europe, Mexico, and Canada with the Golden Dawn Arkestra. Raymond’s instrumentation includes the saxophone, flute, djembe, balafon, and dundun with musical styles of the African Diaspora spanning the genres of jazz, blues, Afro-Cuban, and West-African.

        h2 Contact
                 
        p Elements Web Development, LLC<br>500 E. Whitestone #1023<br>Cedar Park, Texas 78613<br>info@elementsdev.us

    .page-section
        h2.section-title Process

        p Our work gets the best results by following an iterative problem–solving process of discovery, understanding, conception, experimentation, implementation, and refinement.

        ol
            li:  p #[strong Evaluate] — The first step in our process is determining if we are a good fit for each other. We’ll have you complete our prospective client form, schedule a brief chat, and prepare a ballpark estimate for your project. If we decide to move forward we’ll send you a retainer invoice you for a percentage of the estimate.
            li: p #[strong Discover] — All projects begin with research into your unique situation. We’ll complete a Discovery Survey to learn more about your goals and challenges, develop an understanding of your audience, competition, services, and practices. We’ll seek to make sure we have key stakeholders involved upfront and identify potential pitfalls that could cause issues later on.
            li: p #[strong Strategize] — After developing a comfortable understanding of your project, we’ll begin to plan and strategize how best approach any problems and issues. We may conduct various audits and more interviews to check our reasoning and refine our estimated costs for any new information. After approving our plan for your project, we may invoice you for another portion of the project cost.
            li: p #[strong Build] — Beginning the Design phase of your project involves trying out various rough concepts until we end up with the best overall solution. At this stage we’ll move from rough sketches and blue-prints to more finalized concepts. 
            li: p #[strong Refine] — This stage we’ll focus on refining the project by using your feedback to make we’ve met all stated goals and objectives along with adjustments to the overall look and feel. We’ll avoid foundational changes in approach and concentrate on finishing touches. Also, we’ll test to make sure your project meets best practices and industry standards.
            li: p #[strong Launch & Maintain] — We’ll finalize the setup of any technical platforms such as hosting or third party services and publish your project. We’ll also bill you for any remaining costs and celebrate the completion of hours and hours of hard work. We’ll then consult with on how to maintain the project and discuss any appropriate maintenance plans that fit within your budget.


    .page-section
        h2.section-title Ethics 
        
        p As professionals we hold dear our responsibility to the public to not only do good work, but question the nature of the work as well. Questioning the technocratic mechanization of society, pursuing social justice, and following organizational standards give purpose and meaning to our relationships and our practice.

        dl
            h3 We're aware of the risks and appropriate roles of digital technology.
            
            p We understand the risks of software, digital networks, and computing – as relatively new fields of human activity – to cause extreme harm to individuals, cause sweeping, systematic changes to societies, and greatly contribute to the imbalance of our planet. Along with aiding public welfare, we believe technologists should simultaneously seek to prevent future harm and pause to ask what harm is done in order to achieve its benefits.

            h3 We are committed to inclusive, accessible design.
            
            <p>We recognize that winners and losers are created by the modern technology, for often it has been exclusively designed to benefit able-bodied, cis-gendered, fair-skinned, English speaking, upper class, young, male demographic. Therefore, we take great care in making sure our work considers inclusive audiences and follows the standards set forth by the <a href="https://www.w3.org/TR/WCAG20/">WCAG</a> and <a href="https://www.section508.gov/">Section 508</a>.<p>
            
            h3 We pursue social justice.

            <p>Design should take into account the damage to society and human-rights as a result of racism, economic and environmental destruction, gender discrimination including misogyny and homophobia, and religious persecution including Islamophobia and antisemitism. Organizations such as the <a href="https://www.aclu.org/">American Civil Liberties Union</a> and <a href="https://www.splcenter.org/">Southern Poverty Law Center</a> guide our awareness in these areas. One of the ways we express this value is by committing to the <a href="http://neveragain.tech/">neveragain.tech</a> pledge.</p>

            h3 We engage in honest business and adhere to professional standards.

            <p>We’ve chosen to adhere to follow the ethical guidelines set forth in the <a href="https://www.aiga.org/aiga/content/tools-and-resources/aiga-standards-of-professional-practice/">American Institute of Graphic Artists Standards of Professional Practice</a>, the <a href="https://www.acm.org/code-of-ethics">Association for Computing Machinery Code of Ethics</a>, and the <a href="https://graphicartistsguild.org/the-code-of-fair-practice-for-the-graphic-communications-industry/">Graphic Artists Guild Code of Fair Practice</a>.</p>
