---
layout: base.njk
title: My Rad Markdown Blog Post
---

block title
    h1.page-title Get Started

    p.page-subtitle How can we ensure success for your project?

block content
    .container
        .row
            .col
                form(method="POST", action="https://formspree.io/mrgyjvrg")
                    .form-group
                        label(for="company") What's the name of your company or project?
                        input(type="text" name="company" class="form-control" id="company" required)

                    .form-group
                        label(for="name") What's your name?
                        input(type="text" name="name" class="form-control" id="name" required)

                    .form-group
                        label(for="email") What's your email address?
                        input(type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required)
                        small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.

                    .form-group
                        label(for="phone") What's your phone number?
                        input(type="phone" name="phone" class="form-control" id="phone" required)

                    .form-group
                        label(for="referral") How'd you hear about us?
                        input(type="referral" name="referral" class="form-control" id="referral" required)

                    .form-group
                        label How can we help you?
                        .form-check
                            input(class="form-check-input" name="new-website" type="checkbox" value="Create a new website" id="new-website")
                            label(class="form-check-label" for="new-website") Create a new website
                        .form-check
                            input(class="form-check-input" name="update-website" type="checkbox" value="Update an existing website" id="existing-website")
                            label(class="form-check-label" for="defaultCheck1") Update an existing website
                        .form-check
                            input(class="form-check-input" name="something-else" type="checkbox" value="Do something else" id="something-else") 
                            label(class="form-check-label" for="defaultCheck1") Do something else

                    .form-group
                        label(for="message") Can you tell us more?
                        textarea(class="form-control" name="project-details" id="message" rows="5" required)

                    .form-group.budget
                        label What's your budget?
                        .form-check
                            input(class="form-check-input" type="radio" name="project budget" id="less-5K" value="Less than $5K" checked required)
                            label(class="form-check-label" for="less-5K") Less than $5,000
                        .form-check
                            input(class="form-check-input" type="radio" name="project budget" id="$5K to $10K" value="$5K to $10K" required)
                            label(class="form-check-label" for="$5K to $10K") $5,000 to $10,000
                        .form-check
                            input(class="form-check-input" type="radio" name="project budget" id="$10K to $20K" value="$10K to $20K" required)
                            label(class="form-check-label" for="$10K to $20K") $10,000 to $20,000
                        .form-check
                            input(class="form-check-input" type="radio" name="project budget" id="more than $20K" value="more than $20K" required)
                            label(class="form-check-label" for="more than $20K") More than $20,000
                        .form-check
                            input(class="form-check-input" type="radio" name="project budget" id="Still figuring it out" value="Still figuring it out" required)
                            label(class="form-check-label" for="Still figuring it out") Still figuring it out    
                
                    button(type="submit" class="btn btn-primary") Submit