---
layout: base.njk
title: Elements Web Development
---

<p class="subtitle lead">Web strategy and design for artists</p>

<h2>Latests Posts</h2>

<ul>
{%- for post in collections.posts -%}
  <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Services</h2>
    <ul class="services">
      <li>WordPress</li>
      <li>Drupal</li>
      <li>Grav</li>
      <li>Kirby</li>
      <li>Mobile–first, responsive design</li>
      <li>Plugin &amp; theme customization</li>
      <li>SVG, CSS & JS animation</li>
      <li>Web typography</li>
      <li>Content strategy</li>
      <li>Security &amp; malware removal</li>
      <li>Page–speed optimization</li>
      <li>SEO</li>
      <li>VPS hosting</li>
      <li>Server migration</li>
      <li>Website maintenance</li>
      <li>SEO</li>
      <li>Backups</li>
</ul>

<h2>Testimonials</h2>
    <div class="testimonials">
      <blockquote> 
        <p>My new site looks even better than I expected and I owe that entirely to Raymond. In addition, he set it up so it will be very easy for me to maintain over time, which I am really grateful for. I would definitely work with him again and recommend anyone who needs a fresh website to work with him too!</p>
        <footer><img src="/assets/images/kmpic.jpg">
          <p> <strong>Kera MacKenzie</strong><br><a href="keramackenzie.com">Interdisciplinary Artist</a> and Co-Founder of <a href="https://acretv.org/">ACRE TV</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>It was hard to believe that we accomplished the redesign quickly and with such calm. Afterwards, I felt equipped with the tools to edit and adjust certain details on the website by myself, and in a very timely manner, Raymond generously offered any additional assistance that might be necessary.</p>
        <footer><img src="/assets/images/emilie-b.png">
          <p><strong>Emilie Basez</strong> <br>Award–winning vocalist of <a href="https://www.leylinesound.com/">Leyline</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>Raymond often assists Design It Please with WordPress development. He’s reliable, trustworthy, and fast!</p>
        <footer> <img src="/assets/images/sam-fagan.jpg">
          <p><strong>Samantha Fagan</strong><br>Founder and Web Designer at <a href="https://www.designitplease.com/">Design it Please</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>Raymond listened, he was professional, responsive, creative, and greater than fair! He made suggestions and added additional features to my site that I hadn’t even thought of.</p>
        <footer><img src="/assets/images/deb-p.jpg">
          <p><strong>Deborah Peyton</strong><br>Rhythm Events Facilitator and Founder at <a href="https://www.austinrhythmanddrum.com/">Austin Rhythm and Drum, LLC</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>Raymond does a great job of bridging both the technical and creative aspects of his sites. So impressed with his range, and he is a delight to work with!</p>
        <footer><img src="/assets/images/jlw.jpg">
          <p><strong>Jessica Laura Wood</strong><br>Certified Usability Analyst and Human Factors Consultant</p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>Raymond saved the day for us on a web development project that was in serious jeopardy due to previous development issues and a fast-approaching time-line. His exceptional technical skills are matched by his professional discipline and wonderful personality. </p>
        <footer><img src="/assets/images/john-b.jpg">
          <p><strong>John Brackett</strong><br>Digital Product Manager</p>
        </footer>
      </blockquote>
      <blockquote>
        <p>He’s a great source of information and recommendations on native plug-ins for WordPress and solutions available outside the platform. He’s resourceful, thorough, prompt, and a genuine pleasure to work with. He handled every request we threw at him and found solutions for all of them.</p>
        <footer><img src="/assets/images/hillary-r.jpg">
          <p><strong>Hillary Read</strong><br>VP of Marketing at <a href="https://3qdigital.com">3Q Digital</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>As our internal team was on a tight deadline and had very specific needs, I found collaboration with Raymond to be incredibly smooth and thorough. I can specifically attest to the incredible admin panel UI that he constructed for easy content and media updates. The page templates and custom fields were exactly what any marketer would hope to see when going to make changes – intuitive and well-defined.</p>
        <footer><img src="/assets/images/analisa-g.jpg">
          <p><strong>Analisa Goldblatt</strong><br>Marketing Manager <a href="https://realmassive.com/">Real Massive</a></p>
        </footer>
      </blockquote>
      <blockquote> 
        <p>We hired Raymond to take over our organization’s WordPress website after our previous developer unexpectedly quit. Raymond quickly stepped in and fixed lingering functionality and design issues. He was able to work to integrate our CRM with our WordPress site even though he had never worked with the CRM we use before. Any time an issue comes up (which is rare these days!), Raymond is quick to respond with a solution. We’re so happy to be a client of Raymond’s, and I would recommend him for any project!</p>
        <footer><img src="/assets/images/anna-w.jpg">
          <p><strong>Anna Whitley</strong><br>Digital Director at <a href="https://battlegroundtx.com/">Battleground Texas</a></p>
        </footer>
      </blockquote>
    </div>
</div>
