---
layout: base.njk
title: My Rad Markdown Blog Post
--- 

block title
    h1 Portfolio
    p.subtitle.lead View our past work with agencies, studios, small business, and professionals.

block content
    .page-section
        dl
        dt 2020
        dd
            a(href='https://www.keramackenzie.com/') Kera MacKenzie | Chicago, IL
            p Online portfolio for an interdisciplinary film, video, artist.
        dt 2019
        dd
            a(href='https://saharalounge.com/') Sahara Lounge | Chicago, IL
            p Website redesign for a historic East Austin music venue.
        dd
            a(href='https://hibaali.info/') Hiba Ali | Chicago, IL
            p Portfolio for a digital media artist and scholar.
        dd
            a(href='https://www.jenkinselectric.com/replacement-parts/') Jenkins Electric | Charlotte, NC
            p E-commerce website for a industrial electrical utility equipment manufacturer.
        dt 2018
        dd
            a(href='https://www.edf-ipad.dev-staging.tech/') Environmental Defense Fund (Howdy Design) | New York, NY
            p Web development of touch-focused, interactive website for iPad kiosks.
        dd
            a(href='https://nurturme.com/') NurturMe (Howdy Design) | Austin, TX
            p Site updates for a organic baby-food company&rsquo;s new product line.
        dd
            a(href='https://www.digidaybook.com/') DigiDaybook | Austin, TX
            p Turnkey website for a publishing consultancy specializing in consumer technology.
        dd
            a(href='https://www.austinrhythmanddrum.com/') Austin Rhythm and Drum | Austin, TX
            p Turnkey website for a musician offering group drumming events and music therapy.
        dt 2017
        dd
            a(href='https://collegesofdistinction.com/') Colleges of Distinction | Austin, TX
            p Web maintenance for a higher education resource provider.
        dd
            a(href='https://www.jenkinselectric.com/') Jenkins Electric (Howdy Design) | Charlotte, NC
            p Web development to update the web presence of a foundational electrical equipment company.
        dd
            a(href='https://copacino.com/') Copacino + Fujikado (Howdy Design) | Seattle, WA
            p Web Development for an Seattle, WA based adverting agency featuring JavaScript animations.
        dd
            a(href='https://foodandcity.org/') Food and City (Design it Please) | Austin, TX
            p Developing a modern layout for a lifestyle publication.
        dd
            a(href='https://web.archive.org/web/20170911192749/https://www.realmassive.com/') Real Massive | Austin, TX
            p Bespoke WordPress setup and app integration for a commercial real estate statistics business.
        dd
            a(href='http://vintageamericanguitar.com/') Vintage American Guitar | Austin, TX
            p Website maintenance and architecture improvements for a boutique vintage guitar shop.
        dd
            a(href='https://web.archive.org/web/20160205141311/http://saharalounge.com/') Sahara Lounge | Austin, TX
            p Turnkey website for a historic music venue in Austin TX.
        dt 2015
        dd
            a(href='https://www.battlegroundtexas.com/') Battleground Texas | Austin, TX
            p Website maintenance and system integration for a progressive political action committee.
        dt 2014
        dd
            a(href='https://web.archive.org/web/20140210052952/http://3qdigital.com/') 3Q Digital | San Mateo, CA
            p Developing a redesigned website for a Bay-Area digital advertising agency.
        dt 2013
        dd 
            Sylla Music Business Cards | Austin, TX
            p Business cards for a master percussionist from Guinea, West Africa.
        dd
            a(href='https://web.archive.org/web/20140208111528/http://www.jumpstartmd.com/') JumpstartMD Website | San Francisco, CA
            p Web development for the redesign of Bay-area medical weight-loss clinic website.