---
layout: base.njk
title: My Rad Markdown Blog Post
--- 

block content
    .page-header
        h1.page-title Privacy Policy


    h2 Terms

    p By accessing the website at https://elementsdev.us, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.

    h2 Use License

    p Permission is granted to temporarily download one copy of the materials (information or software) on Elements Web Development's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
        
        ul
            li modify or copy the materials;
            li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
            li attempt to decompile or reverse engineer any software contained on Elements Web Development’s website;
            li remove any copyright or other proprietary notations from the materials; or
            li transfer the materials to another person or “mirror” the materials on any other server.

    p This license shall automatically terminate if you violate any of these restrictions and may be terminated by Elements Web Development at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

    h2 Disclaimer

    p The materials on Elements Web Development's website are provided on an ‘as is’ basis. Elements Web Development makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
    
    p Further, Elements Web Development does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.

    h2 Limitations

    p In no event shall Elements Web Development or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Elements Web Development’s website, even if Elements Web Development or a Elements Web Development authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
    
    h2 Accuracy of materials

    p The materials appearing on Elements Web Development’s website could include technical, typographical, or photographic errors. Elements Web Development does not warrant that any of the materials on its website are accurate, complete or current. Elements Web Development may make changes to the materials contained on its website at any time without notice. However Elements Web Development does not make any commitment to update the materials.
    
    h2 Links

    p Elements Web Development has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Elements Web Development of the site. Use of any such linked website is at the user’s own risk.
    
    h2 Modifications

    p Elements Web Development may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.

    h2 Governing Law

    p These terms and conditions are governed by and construed in accordance with the laws of Austin, TX and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.

    h2 Privacy Policy

    p Your privacy is important to us.

    p It is Elements Web Development’s policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.

    ul
        li We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
        li Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
        li We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.
        li Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
        li We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
        li We will make readily available to customers information about our policies and practices relating to the management of personal information.
        li We will only retain personal information for as long as necessary for the fulfilment of those purposes.

    p We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. Elements Web Development may change this privacy policy from time to time at Elements Web Development’s sole discretion.
