---
layout: base.njk
title: Services
---
    
block content
    .page-section
        p We’ve helped clients implement automated shipping systems, modernize legacy websites with responsive design and migration to modern platforms, create interactive iPad enabled experiences for immersive events, and present work in engaging portfolios.

        
            
h2 Web Development

dl
    dt Content Management Systems
    dd We build websites with static HTML, WordPress, Drupal, Kirby, Shopify, Grav and more depending on your needs.
    dt Features and Plugins
    dd Add Features Add additional features such as custom animations, forms, calendars, and e–commerce to your website with third-party plugins.
    dt Custom Coded Designs
    dd Have your own design? We're happy to work with designers or clients who need our technical expertise to implement an existing design.


h2 Web Design

dl
    dt Minimal, Elegant Designs
    dd Our design aesthetic is focused on your content rather than the latest trends. Less is more when it comes to the constant distractions we find while browsing the web.
    dt Research and Strategy
    dd Get help figuring why your website isn't attracting the right people or meeting goals.
    dt Information Design
    dd Your content and pages should be organized in a way that prioritizes discovery and accessibility. Often times information design if far more effective than changing the design and layout of your website.


h2 Maintenance

dl
    dt Security, Backups, and Malware
    dd Secure your website with a regular back up plan and fix performance issues with malware removal.
    dt Page Speed Optimization
    dd Decrease the time it takes to load your web pages — great for mobile internet users and search ranking alike.
    dt Training and Documentation
    dd Get help make edits and updates to your site with a consultation or special documentation for custom–built sites.
    dt SEO
    dd Monitor the traffic coming to your site, optimize content for specific keywords, and fix any errors that could cause issues with search engine ranking.


h2 Web Hosting

dl
    dt Consultation
    dd Save on ongoing hosting expenses by finding the best balance of features for your website. We can help you review the quality current hosting and remove unnecessary features.
    dt Migration and Setup
    dd Get help moving all yours files, databases, and SSL certificates to a new hosting platforms. Though many hosts offer free website migrations get extra peace of mind by having us on hand just in case anything goes awry.
    dt VPS Hosting
    dd If your website is a good fit for our VPS Hosting service we'll happily set you up on a fast and secure VPS server.

    .page-section
        h2.section-title Portfolio

        dl.portfolio
            dt 2020
            dd
                a(href='https://keramackenzie.com/') Kera MacKenzie
                p Online portfolio for an interdisciplinary film, video, artist
            dt 2019
            dd
                a(href='https://saharalounge.com/') Sahara Lounge
                p Website redesign for a historic East Austin music venue
            dd
                a(href='https://hibaali.info/') Hiba Ali
                p Portfolio for a digital media artist and scholar
            dd
                a(href='https://www.jenkinselectric.com/replacement-parts/') Jenkins Electric
                p E-commerce website for an industrial electrical utility equipment manufacturer
            dt 2018
            dd
                a(href='https://www.edf-ipad.dev-staging.tech/') Environmental Defense Fund (Howdy Design)
                p Web development of touch-focused, interactive website for iPad kiosks
            dd
                a(href='https://nurturme.com/') NurturMe (Howdy Design)
                p Site updates for an organic baby-food company&rsquo;s new product line
            dd
                a(href='https://www.digidaybook.com/') DigiDaybook
                p Turnkey website for a publishing consultancy specializing in consumer technology
            dd
                a(href='https://www.austinrhythmanddrum.com/') Austin Rhythm and Drum
                p Turnkey website for a musician offering group drumming events and music therapy
            dt 2017
            dd
                a(href='https://collegesofdistinction.com/') Colleges of Distinction
                p Web maintenance for a higher education resource provider
            dd
                a(href='https://www.jenkinselectric.com/') Jenkins Electric (Howdy Design)
                p Web development to update the web presence of a electrical equipment company
            dd
                a(href='https://copacino.com/') Copacino + Fujikado (Howdy Design)
                p Web Development for a Seattle, WA based adverting agency featuring JavaScript animations
            dd
                a(href='https://foodandcity.org/') Food and City (Design it Please)
                p Developing a modern layout for a lifestyle publication
            dd
                a(href='https://web.archive.org/web/20170911192749/https://www.realmassive.com/') Real Massive
                p Bespoke WordPress setup and app integration for a commercial real estate statistics business
            dd
                a(href='http://vintageamericanguitar.com/') Vintage American Guitar
                p Website maintenance and architecture improvements for a boutique vintage guitar shop
            dd
                a(href='https://web.archive.org/web/20160205141311/http://saharalounge.com/') Sahara Lounge
                p Turnkey website for a historic music venue in Austin TX
            dt 2015
            dd
                a(href='https://www.battlegroundtexas.com/') Battleground Texas
                p Website maintenance and system integration for a progressive political action committee
            dt 2014
            dd
                a(href='https://web.archive.org/web/20140210052952/http://3qdigital.com/') 3Q Digital
                p Developing a redesigned website for a Bay-Area digital advertising agency
            dt 2013
            dd 
                p <strong>Sylla Music Business Cards</strong>
                p Business cards for a master percussionist from Guinea, West Africa
            dd
                a(href='https://web.archive.org/web/20140208111528/http://www.jumpstartmd.com/') JumpStartMD Website
                p Web development for the redesign of Bay-area medical weight-loss clinic website

    .page-section
        h2.section-title Pricing and Billing

        p Whether this your first time working with a professional studio or you’re well acquainted with the design process, it helps to know the details concerning how we operate. The main concerns of our clients are whether we’re a good fit for each other, what needs to be done to make sure the process runs well, how long it will take, and most often how much it will cost.

        ul
            li 
                p <strong>Project Estimates</strong>: Before beginning your project we’ll provide an estimated cost. Since projects frequently change due to the inherent flexibility of creative work we communicate any budget concerns throughout the process.
            li 
                p <strong>No-Spec Work or Fixed Pricing</strong>: As much as we’d like to accommodate all of our clients we can’t perform work on speculation. For more information on speculative work, see No!Spec.
            li 
                p <strong>Payment Terms</strong>: All of our invoices are issued with due on receipt payment terms.
            li 
                p <strong>Expense Markups</strong>: All project related expenses incurred by us are billed at a markup of 25%. You can avoid markup fees by purchasing needed items upfront.
            li 
                p <strong>Additional Expenses</strong>: In addition to the time and resources it takes to complete your project we also bill for major travel costs such as accommodations, airport transportation, meals, and other related expenses and will submit itemized receipts for these costs with our invoices.
