---
layout: base.njk
title: My Rad Markdown Blog Post
---

block content
    .page-header
        h1.page-title Testimonials

    .testimonials
        blockquote 
            p "Raymond was a professional through and through. He has a very <strong>clear and detail-oriented process</strong> in place for designing websites. I also really appreciate that he took the time to get to know me and my work before creating my site. I needed to have my website redesigned on a quick timeline to fulfill a grant requirement and he took on the project with enthusiasm and even had my site ready before the deadline. He helped me to clarify what I wanted out of my website and gave great suggestions for how to go about getting those results. 
            
            p <strong>My new site looks even better than I expected</strong> and I owe that entirely to Raymond. In addition, he set it up so it will be very easy for me to maintain over time, which I am really grateful for. I would definitely work with him again and recommend anyone who needs a fresh website to work with him too!"
            
            footer
                p #[a(href="keramackenzie.com") Kera MacKenzie], Interdisciplinary Artist and Co-Founder of #[a(href="https://acretv.org/") ACRE TV]

        blockquote 
            p "The consultation was extremely productive. Raymond’s patience and genuine interest in fulfilling the needs of my band made the process of recreating our website surprisingly pleasant! It was hard to believe that we accomplished the redesign quickly and with such calm. Afterwards, I felt equipped with the tools to edit and adjust certain details on the website by myself, and in a very timely manner, Raymond generously offered any additional assistance that might be necessary."
            
            footer
                p. 
                    Emilie Basez | #[a(href="https://www.leylinesound.com/") Leyline]

        blockquote 
            p "Raymond often assists Design It Please with WordPress development. He’s reliable, trustworthy, and fast!"
            footer 
                p. 
                    Samantha Fagan | #[a(href="https://www.designitplease.com/") Design it Please]

        blockquote 
            p Raymond did a great job creating my Austin Rhythm & Drum WordPress website. He listened, he was professional, responsive, creative, and greater than fair! Raymond made suggestions and added additional features to my site that I hadn’t even thought of. I highly Raymond for creating or modifying your company, organization, or personal website!
            footer
                p. 
                    Deborah Peyton | #[a(href="https://www.austinrhythmanddrum.com/") Austin Rhythm and Drum, LLC]

        blockquote 
            p Raymond does a great job of bridging both the technical and creative aspects of his sites. So impressed with his range, and he is a delight to work with! I strongly recommend him for business and brand communication needs.
            footer
                p Jessica Laura Wood

        blockquote 
            p Raymond saved the day for us on a web development project that was in serious jeopardy due to previous development issues and a fast-approaching timeline. Raymond quickly assessed the technical work to be done and got to it. He immediately structured the platform into a solid technical framework with UI additions that make administration of the content a breeze. Raymond got the project completed within our deadline, including additional improvements that are already showing great value. His exceptional technical skills are matched by his professional discipline and wonderful personality. Our staff loved working with Raymond. I highly recommend Raymond as a proven engineer and complete professional.
            
            footer
                p John Brackett | #[a(href="https://realmassive.com/") Real Massive]

        blockquote
            p We worked with Raymond on our rebranding project to launch an entirely new website. The development and function of the site was critical in helping us establish ourselves as a major player in our industry. Raymond came through with the initial launch, which was a huge success, and has been instrumental in helping us develop the site well beyond our original vision.

            p He’s a great source of information and recommendations on native plug-ins for WordPress and solutions available outside the platform. He’s resourceful, thorough, prompt, and a genuine pleasure to work with. He handled every request we threw at him and found solutions for all of them. I’d recommend him highly for any level of web development.

            footer
                p Hillary Read, VP of Mark #[a(href="https://3qdigital.com") 3Q Digital]

        blockquote 
            p Our company worked with Raymond for a comprehensive rebrand. We worked with him on building new pages. New designs. Implementing complex tracking tools. Raymond can handle any web development project you can toss his way with professionalism, fantastic execution, and a helpful personality. Rest assured that he’s the man you want for your project or ongoing web maintenance.

            footer
                p Johnathan Svilar | #[a(href="https://3qdigital.com") 3Q Digital]

        blockquote 
            p The work was thorough and I rarely needed to have a follow up on the same project. We were presented with good suggestions and best practices, which is very nice if I only have a vision of the end product, but not how to get there. It’s always a pleasure working with you.

            footer
                p Harrison Woolmington | #[a(href="https://jumpstartmd.com") JumpStartMD]

        blockquote 
            p I worked with Raymond on a WordPress website overhaul at RealMassive. As our internal team was on a tight deadline and had very specific needs, I found collaboration with Raymond to be incredibly smooth and thorough. I can specifically attest to the incredible admin panel UI that he constructed for easy content and media updates. The page templates and custom fields were exactly what any marketer would hope to see when going to make changes – intuitive and well-defined. Raymond was a complete pleasure to work with, and I would wholeheartedly recommend him to anyone in need of a WordPress consultant.

            footer
                p Analisa Goldblatt | #[a(href="https://realmassive.com/") Real Massive]

        blockquote 
            p Raymond is an excellent consultant. He worked on a project at RealMassive and helped onboard me to the WordPress platform for which I had limited experience in. A true expert in every sense since he understands the intricacies of the platform and is very patient explaining it. Highly recommend!

            footer
                p Jonathan Ho | #[a(href="https://realmassive.com/") Real Massive]

        blockquote 
            p I have had nothing but wonderful experiences as a client of Raymond’s. He is an excellent communicator who consistently produces great work, he is flexible and receptive to feedback, and he is great at estimating costs and working within our budget. We hired Raymond to take over our organization’s WordPress website after our previous developer unexpectedly quit. Raymond quickly stepped in and fixed lingering functionality and design issues. He was able to work to integrate our CRM with our WordPress site even though he had never worked with the CRM we use before. Any time an issue comes up (which is rare these days!), Raymond is quick to respond with a solution. We’re so happy to be a client of Raymond’s, and I would recommend him for any project!

            footer
                p Anna Whitley | #[a(href="https://battlegroundtx.com/") Battleground Texas]









