---
title: Elements Web Development
---

<!doctype html>

<html lang="en">

  <head class="no-js">
    <meta charset="utf-8" />
    <title>Elements Web Development</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="/site.webmanifest" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
  <body>
    <header class="site-header">
      <a class="logo" href="/index.html">
        {% include "../assets/svg/elements-logo.svg" %}
      </a>

      <nav class="site-nav" id="site-nav">
        <a href="/">Home</a>
        <a href="/services/">Services</a>
        <a href="/about/">About</a>
        <a href="/posts/">Blog</a>      
      </nav>
    </header>

    <h1>{{ title }}</h1>

    {{ content | safe }}

    <footer class="site-footer">
      <div class="container">
          <div class="content">
              <p class="company">Elements Web Development</p>

              <nav class="footer-nav" id="footer-nav">
                <a href="/">Home</a>
                <a href="/services/">Services</a>
                <a href="/about/">About</a>
                <a href="/blog/">Blog</a>
              </nav>

              <p class="footer-info">This website no tracking or cookies of any kind to collect and analyze your personal information. Browse away.</p>
          </div>
      </div>
    </footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>