---
layout: base.njk
templateClass: tmpl-post
---

{{ content | safe }}

<p>Tags: 
{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
</p>