/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

:root {
  --main-bg-color: #F6F2D5;
  --main-text-color: #504436;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.45;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
    font-family: 'Source Serif Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/source-serif/WOFF2/VAR/SourceSerifVariable-Roman.ttf.woff2') format('woff2'),
         url('/fonts/source-serif/WOFF/VAR/SourceSerifVariable-Roman.ttf.woff') format('woff'),
         url('/fonts/source-serif/VAR/SourceSerifVariable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif Variable';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/fonts/source-serif/WOFF2/VAR/SourceSerifVariable-Italic.ttf.woff2') format('woff2'),
         url('/fonts/source-serif/WOFF/VAR/SourceSerifVariable-Italic.ttf.woff') format('woff'),
         url('/fonts/source-serif/VAR/SourceSerifVariable-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/source-sans-variable-roman.ttf') format('truetype'),
         url('../fonts/source-sans-variable-roman.ofs') format('otf');
}

html {
  font-family: 'Source Sans';
  font-size: 18px;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 7vw 1rem;
  overflow-x: hidden;
}

main {
  max-width: 36rem;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Source Sans'; 
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0 0 0.75rem;
}

/*h1 {
  font-size: 1.25rem;
  font-family: 'Source Serif Variable';
  text-align: center;
  word-spacing: 0.1rem;
  font-weight: 400;

}

h1 span {
  display: block;
  font-family: 'VTC Martin';
  font-size: 2.5rem;
  letter-spacing: 8px;
  line-height: 1;
  text-transform: uppercase;
}*/

h2 {
  font-size: 1.25rem;
  margin: 3rem 0 0.8rem;
}

h3 {
  font-size: 1.1rem;
}

ul,
p,
img {
  margin: 0 0 1.5rem;
}

ul {
  padding-left: 1rem;
}

/*ul li {
  padding-left: 0.8rem;
}*/

dl {
  margin-bottom: 2.5rem;
}

dt {
  font-weight: 500;
  margin-bottom: 4px;
}

dd {
  margin-left: 0;
  margin-bottom: 25px;
}

img {
  max-width: 100%;
}

a {
  color: #2E70CC;
  text-decoration: none;
  font-weight: 550;
}

a:hover {
  text-decoration: underline;
}

.get-in-touch {
  display: inline-block;
  font-size: 1.3rem;
  margin-top: 0.75rem;
  font-style: normal;
}

.get-in-touch:hover {
  text-decoration: none;
  color: var(--main-text-color);
}

.get-in-touch span {
  margin: 0 0.25rem;
}

.work dt {
  font-family: 'Source Sans';
  font-weight: 700;
  letter-spacing: 1px;
  grid-column: 1 / 2;
  margin-bottom: 0.5rem;
}

.work dd {
  grid-column: 2 / 3;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
}

.work dd a {
  display: block;
  font-weight: 700;
  text-decoration: none;
}

.work dd a:hover {
  text-decoration: underline;
}


/*.work dt + dd {
  margin-top: 2rem;
}*/

/*.subtitle {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
}
*/

.subtitle {
  text-align: center;
  font-style: italic;
  max-width: 25rem;
  margin: 0 auto 1rem; 
}

.contact {
  text-align: center;
}

.contact strong {
  font-family: 'Source Sans';
}

.services {
  list-style: none;
  padding: 0;
}

.services li {
  display: inline;
  padding: 0;
}

.services li:after {
  /* content: " / "; */
  content: " \2022 ";
  font-weight: 700;
}

.services li:last-child:after {
  content: none;
}

.logo {
  display: block;
  text-align: center;
}

.logo svg {
  display: block;
  max-width: 40px;
  margin: 0 auto 17px;
}

.site-header {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.site-nav {
  display: flex;
    justify-content: center;
  font-size: 16px;
  text-align: center;
}

.site-nav a {
  padding: 0 0.5rem;
}

.site-footer {
  border-top: 1px solid;
  padding-top: 1rem;
  margin-top: 2rem;
}

.site-footer .company {
  font-weight: 500;
  margin-bottom: 8px;
}

.footer-nav {
  margin-bottom: 20px;
}

.footer-nav a {
  font-size:  16px;
  font-weight: normal;
  padding-right: 10px;
}

.footer-info {
  font-size:  16px;
}

.work .city {
  display: block;
  font-style: italic;
}

.post-tag {
  color:  inherit;
}

.testimonials blockquote {
  border: 1px solid #AAA;
  border-radius: 8px;
  margin: 0 0 2rem;
  padding: 1rem;
  position: relative;
}

.testimonials blockquote > p {
  margin-left: 0;
}

.testimonials footer {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.3;
}

.testimonials footer strong {
  font-style: normal;
}

.testimonials footer img {
  border: 2px solid;
  border-radius: 50%;
  margin-right: 0.65rem;
  height: 3rem;
  widows: 3rem;
}

.founder  {
  text-align: center;
}

.founder .title {
  display: block;
  margin-bottom: 0.25rem;
}

.founder .bio {
  display: block;
  font-size: 0.875rem;
}

.founder img {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 2px solid;
  max-width: 200px;
}

.page-footer {
  border-top: 1px solid;
  margin: 4rem auto 0;
  padding-top: 2rem;
  text-align: center;
  max-width: 40rem;
}

.page-footer .info {
  font-size: 0.825rem;
  font-style: italic;
}

/* ==========================================================================
   Helper classes
   ========================================================================== 

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  html {
    background: var(--main-bg-color);
    background-size: contain;
    font-size: 22px; 
  }

  body {
    background: var(--main-bg-color);
    margin: 1vw auto;
    padding: 1rem 2.5rem;
    max-width: 32rem;
  }

  .logo svg {
    max-width: 45px;
  }

  h1 {
    font-size: 1.7rem;
  }

  .get-in-touch {

  }

  .subtitle {
    font-size: 1.2rem;
    max-width: 30rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .work {
    display: grid;
    grid-template-columns: 90px auto;
    align-items: baseline;
  }

  .work dt {
    margin: 0;
    font-size: 1.3rem;
  }

  .work dd {
    border: none;
    padding: 0;
  }

  .work .city {
    font-size: 0.875rem;
    padding-top: 0.18rem;
  }

  .testimonials footer {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .founder {
    display: flex;
    text-align: left;
  }

  .founder img {
    margin-right: 1rem;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

