---
layout: base.njk
permalink: /posts/
title: Blog
---


<ul class="posts">
{%- for post in collections.posts -%}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
{%- endfor -%}
</ul>